{% extends 'base.html' %}

{% block meta %}
    {% load static %}
    <title>Daftar Atlet</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8fc4b7;">
    <a class="navbar-brand" href="#" style="color: #FFFFFF;">Babadu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #FFFFFF;">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #FFFFFF;">Daftar Atlet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #FFFFFF;">List Atlet</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
    </form>
    </div>
</nav>

<style>
    .table td {
        vertical-align: middle;
    }
</style>

<br>
<h1 class="text-center">Latih Atlet</h1>
<form method="post" action="{% url 'latih_atlet' %}">
    {% csrf_token %}
    <div style="width:800px; margin:0 auto; justify-content: center; display:flex;">
        <label>Atlet yang mau didaftarkan:</label>
        <select name="id_atlet">
            {% for atlet in pilihan_atlet %}
                <option value="{{ atlet.id }}">{{ atlet.nama }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <button style="margin:0 auto; justify-content: center; display:flex;" class="btn btn-primary d-block mx-auto" type="submit">Submit</button>
</form>
<br>

{% if messages %}
        {% for message in messages %}
            <script>
              message = "{{message}}"
              $(document).ready(function(){
                window.alert(message);
              })
            </script>
        {% endfor %}
      {% endif %}
{% endblock content %}