{% extends 'base.html' %}

{% block meta %}
    {% load static %}
    <title>Daftar Atlet</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% include 'navbar_pelatih.html' %}
{% endblock meta %}

{% block content %}

<style>
    .table td {
        vertical-align: middle;
    }
</style>

<br>
<div class="col-md-12">
    <h3 class="section-heading">Atlet yang Anda latih</h3>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Nama Atlet</th>
                <th>Email</th>
                <th>World Rank</th>
            </tr>
        </thead>
        <tbody>
            {% for atlet in atlets %}
            <tr>
                <td>{{ atlet.nama }}</td>
                <td>{{ atlet.email }}</td>
                <td>{{ atlet.world_rank }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if messages %}
        {% for message in messages %}
            <script>
              message = "{{message}}"
              $(document).ready(function(){
                window.alert(message);
              })
            </script>
        {% endfor %}
      {% endif %}
{% endblock content %}