{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% include 'navbar_umpire.html' %}


<style>
    body{
    background: rgb(58,169,180);
    background: linear-gradient(90deg, rgba(58,169,180,1) 0%, rgba(54,153,123,1) 33%, rgba(66,186,102,1) 66%);
    overflow-x: hidden;
    
}
</style>

{% endblock meta %}

{% block content %}


    
    <body>
    <table class="table table-bordered d-flex justify-content-center">
        <tr>
            <th>Nama Atlet</th>
            <th>Tahun</th>
            <th>Nomor Batch</th>
            <th>Tempat Pelaksanaan</th>
            <th>Tanggal Pelaksanaan</th>
            <th>Hasil</th>
        </tr>

        {% for item in data %}
        <tr>
            <td>{{ item.nama }} </td>
            <td>{{ item.tahun }}</td>
            <td>{{ item.batch }}</td>
            <td>{{ item.tempat }}</td>
            <td>{{ item.tanggal }}</td>
            {% if item.hasil %}
                <td>Lulus</td>
            {% else %}
                <td>Tidak Lulus</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </body>
    
    {% endblock content %}
    



