<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8fc4b7;">
    <a class="navbar-brand" href="#" style="color: #FFFFFF;">Babadu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #FFFFFF;">Dashboard</a>
        </li>
        <div class="dropdown">
            <a class="nav-link" href="#" style="color: #FFFFFF;">Latih Atlet</a>
            <div class="dropdown-content">
                <a href="{% url 'fitur_pink:latih_atlet' %}">Create Latih Atlet</a>
                <a href="{% url 'fitur_pink:list_atlet' %}">List Atlet Dilatih</a>
            </div>
        </div>
        <button class="btn btn-outline-light my-2 my-sm-0" href="#" type="submit">Logout</button>
    </div>
</nav>